@using Microsoft.AspNet.Identity
@model Blog2.Models.ArticleDetails

@{
    ViewBag.Title = Model.Article.Title;
}

<link rel="stylesheet" type="text/css" href="~/Content/myStyle.css">

<h2>@Model.Article.Title</h2>

<div>
    <h4>Article</h4>
    <hr />
    <div class="my-content">
        @Html.HiddenFor(modelItem => Model.Article.Id)
        <div class="text-details">
            @Html.DisplayFor(modelItem => Model.Article.Text)
        </div>
        <div class="info-details">
            @Html.DisplayFor(modelItem => Model.Article.Creator) -
            @Html.DisplayFor(modelItem => Model.Article.CreationDate), &#9;
            <span class="good">@Html.DisplayFor(modelItem => Model.Article.RatingGood)</span> |
            <span class="bad">@Html.DisplayFor(modelItem => Model.Article.RatingBad)</span> @{ Write("\t");}
        </div>
        <p>
            @if (Request.IsAuthenticated && User.Identity.GetUserName() == Model.Article.Creator)
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Article.Id })
                Write(" | ");
            }
            @Html.ActionLink("Back to List", "Index") | 
            @Html.ActionLink("Like", "Like", new { id = Model.Article.Id }) | 
            @Html.ActionLink("Dislike", "Dislike", new { id = Model.Article.Id })
        </p>
        <br /><div class="separation-line"></div>
        <h4>Comments</h4>
        <div class="my-content">
            <div class="text-comments">
                @{
                    if (Model.Comments.Count == 0)
                    {
                        Write("No comments.");<br />
                    }
                    else
                    {
                        foreach (var comment in Model.Comments)
                        {
                        @Html.DisplayFor(modelItem => comment.Text)<br />
                        @Html.DisplayFor(modelItem => comment.Creator) Write(" - ");
                        @Html.DisplayFor(modelItem => comment.CreationDate)
                        <br />
                        }
                    }
                    <br />
                    if (Request.IsAuthenticated)
                    {
                        @Html.TextArea("CommentText", null, new { @class = "form-control" })
                        <br />
                        //<input type="submit" value="Create" class="btn btn-default" />
                        <form method="post" action="">
                            <input type="hidden" value="@Model.Article.Id" name="ArticleId" />
                            <input type="hidden" value="@Model.Article.Id" name="ArticleId" />
                            <input type="submit" value="Отправить" />
                        </form>
                    }
                    else
                    {
                        Write("Please, "); @Html.ActionLink("Log in", "Login", "Account")
                        Write(" or "); @Html.ActionLink("Register", "Register", "Account") Write(" to comment.");
                    }
                }
            </div>
        </div>
    </div>
</div>